@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(''), url('../fonts/museo-500.woff2') format('woff2');

		// font-family: 'Museo 500';
		// font-style: normal;
		// font-weight: 500;
		// font-display: swap;
		// src: local(''), url('../fonts/playfair-display.woff2') format('woff2');
	
	
}
