---
layout: default
bodyClass: "page-home"
---
<!-- Courosel -->
<div class="strip">
  <div class="carousel">
    <div id="window">
      <div id="slide-container">
        <div class="slides">
          
    <!-- First image --> 
          <img class="slide" src="https://d3hne3c382ip58.cloudfront.net/files/uploads/bookmundi/resized/cmsfeatured/holland-tour-highlights-1501738379-1000X561.jpg"> 
        </div>
        
    <!-- Second image --> 
        <div class="slides">
          <img class="slide" src="https://gsg-61ea.kxcdn.com/media/contents/sydney%20harbour%20aerial%20jamie-davies-Hao52Fu9-F8-unsplash%20(2).jpg"> 
        </div>
        
     <!-- Third image --> 
        <div class="slides">
          <img class="slide" src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0b/3f/6d/47.jpg"> 
        </div>
        <a id="previous" class="arrow">&#10094</a>
        <a id="next" class="arrow">&#10095</a>
        <div id="text-bar">
          <p id="place"></p>
        </div>
      </div>
      <div id="dotsContainer"></div>
    </div>
  </div>
  
</div>

<!-- Title -->
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-12 col-lg-12 mt-0" style="text-align: center;">
          {{ content }}
      </div>
      {% if page.intro_image %}
      <!-- <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div> -->
      {% endif %}
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container pt-6 pb-6">
    <h1 style="text-align: center;">People</h1>
    <div class="row pt-6 pb-6">
      {% assign people = site.people %}
      {% for people in people %}
      <div class="col-12 col-md-4 mb-3">
          <div class="team team-summary">
              {% if people.image %}
              <div class="team-image">
                  <img width="60" height="60" alt="{{ people.title }}" class="img-fluid mb-2" src="{{ people.image | relative_url }}" />
              </div>
              {% endif %}
              <div class="team-meta">
                  <h2 class="team-name"><a href="{{ people.url | relative_url }}">{{ people.name }}</a></h2>
                  <p class="team-description">{{ people.title }}</p>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>

    <!-- old -->
    <!-- <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for people in site.people limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="team team-summary">
            {% if people.image %}
                <div class="team-image">
                    <img width="60" height="60" alt="{{ people.title }}" class="img-fluid mb-2" src="{{ people.image | relative_url }}" />
                </div>
            {% endif %}
            <h5 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ people.name }}</a>
            </h5>
            <p>{{ people.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
      {% endfor %}
    </div> -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View All People</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
